body{background-color:white;
    font-family: "Roboto", sans-serif;
}
header{
    
        border-bottom: 1px solid #f9f7fe;
        padding-bottom: 30px;
      
}
main {
    padding: 30px 0;
  }
  
.weather-app {
    background: palevioletred;
    font-size: large;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(65, 50, 100, 0.08);
  }
  
.enter-city{
    background-color: #f9f7fe;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px

}
.search-button{
 margin-left: 5px;
font-size: 16px;
font-weight: bold;
background-color: pink;
color: white;
border: none;
padding: 20px;
line-height: 1;
border-radius: 5px;
}

.temperature{
    position: relative;
}